div {
  border-radius: 10px;
  width: 100%;
  background-color: #068258;
  text-align: center;
  margin-bottom: 15px;
}
ul {
  border-radius: 20px;
  width: 60%;
}
#messages {
  width: 100%;
  height: 490px;
  border: 2px black solid;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
form {
  margin: 10px;
}
select {
  border-radius: 10px;
  width: 20%;
}
#err {
  background-color: red;
}
input {
  width: 50%;
  color: black;
  font-size: 30px;
  border-radius: 10px;
}
#button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
  outline: none;
  font-size: 17px;
  color: #f4f4f4;
  background-color: black;
  border-radius: 10px;
}

header {
  background-color: #068258;
}
h1,
p {
  text-align: center;
}
.items {
  background-color: #06c2f6;
}
.Rahul {
  background-color: #06c2f6;
  margin-left: 30%;
}
.Sandesh {
  background-color: #f4f4f4;
}
